<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haihoangtran.pm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.WordsActivity"
            android:label="@string/title_activity_words"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NoteActivity"
            android:label="@string/title_activity_note"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BudgetActivity"
            android:label="@string/title_activity_budget"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.haihoangtran.pm"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>